@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  margin: 0;
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(45 246 181);
}

.test1 {
  width: 300px;
  height: 30px;
  background: rgba(0,59,44, 0.3);
  margin: 1em auto;
  border-radius: 10px;
  overflow: hidden;
}

.test {
  height: 30px;
  background: white;
  transition: width 300ms linear;
}

svg {
  margin: auto;
}
