body {
  color: #fff;
  text-align: center;
  margin: 0;
  font-family: 'Futura', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(22,140,111);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test1 {
  width: 300px;
  height: 30px;
  background: white;
  margin: 1em auto;
  border-radius: 10px;
  overflow: hidden;
}

.test {
  height: 30px;
  background: rgb(0,59,44);
  transition: width 300ms linear;
}

svg {
  margin: auto;
}

.circle > div {
  margin: 3em auto;
  text-align: center;
}